.App {
  text-align: center;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.graficoPorcentaje {
  display: inline;
  margin: 0 5%;
}

.encabezado {
  display: inline;
  margin-right: 75%;
  color: green;
  max-width: 1%;
}

.box {
  max-width: 150px;
  border: dotted darkslategrey 5px;
  border-radius: 10px;
  display: inline-block;
}